@charset "utf-8";
/* CSS Document */
/* 全局CSS定义 */
body{margin:0 auto;padding:0;color:#333;font:12px '';text-align:center; font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体";}

.login{background:url(../images/AD-016.jpg) no-repeat;background-size:cover; }
body > div{margin-right:auto;margin-left:auto;}
div,form,ul,ol,li,span,p,dl,dt,dd,img{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none}
table,td,input,textarea{font-size:12px}
/* 链接颜色 */
a{color:#454545;text-decoration:none;}
a:hover{text-decoration:none;}
.clear,.area{zoom:1}
.clear{margin:0; padding:0; clear:both; height:0; line-height:0; font-size:0;}
.area:after,.clear:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
/*公共样式定义*/
.left,.l,.right,.r{display:inline;float:left;}
.right,.r{float:right;}
.text_left{text-align:left;}
.text_right{text-align:right;}
.b{font-weight:bold;}
.area{width:980px; margin:0 auto;}
table{border-collapse:collapse; text-align:center;}
textarea,input,select{color:#333; vertical-align:middle; font-family:"Microsoft YaHei","微软雅黑"}
input{text-indent:2px;}
em,i{font-style: normal; font-weight: 500;}
.font18{font-size:18px;}
.font16{font-size:16px;}
.font14{font-size:14px;}
.font12{font-size:12px!important;}
select, input, label, button, button img, img{vertical-align:middle;}
/*字体颜色*/
.gray,.gray a{color:#333333 !important;}
.gray1,.gray1 a{color:#666666 !important;}
.red,.red a{color:#fa5050 !important;}
.green,.green a{color:#3a8183 !important;}
.green1,.green1 a{color:#3a8183 !important; text-decoration:underline;}
.orange,.orange a{color:#ee7f00 !important;}
.lan,.lan a{color:#005293 !important; text-decoration:none;}
/*间距*/
.mt5{margin-top:5px;}
.mt7{margin-top:7px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt60{margin-top:60px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.pt10{padding-top:10px;}
.pl15{padding-left:15px;}
.pl10{padding-left:10px;}
.pt20{padding-top:20px;}
.mt0{margin-top:0!important;}
/*btn*/
.e_btn4{width:342px;height:35px;margin-left:28px; display:inline-block;text-align: center;border-radius:5px;background:#3e89ed; color:#fff !important;line-height:32px;}
.e_btn4 i{height:32px; display:inline-block; padding:0 22px; font-size:16px;}
.tk_box{width:440px;border:4px #ccc solid;background:#fff; position:relative; z-index:99; border-radius:3px 3px;-moz-border-radius:3px 3px;-webkit-border-radius:3px 3px; margin:0 auto; height:36px; line-height:36px; text-align:left; z-index:1; position:relative;}/*2014-7-23 15:00 add*/
.tk_box h2{font-size:16px; padding:0 12px; text-align: center;}/*2014-7-23 15:00 add*/
.tk_box .tk_title.bg{background:#ebebeb;}/*2014-7-23 15:00 add*/
.tk_box{width: 448px; height: 300px; position:fixed; top:50%; left:50%; margin-top: -150px; margin-left: -224px;}
.tk_box .tk_con{padding:40px;}
.tk_box .mr55{margin-right:55px;}
.tk_ul{padding:10px 20px 40px; *+padding-top:0px;}
.tk_ul li{height: 32px; line-height: 32px; margin-top:30px; position: relative; vertical-align: middle;}
.tk_ul .ycyc{width:200px; text-align:left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.tk_ul.ju li{margin-top: 10px;}
.tk_ul li span{width:145px; float:left; text-align:right; font-size:14px; color:#666;}
.tk_ul li .dw,.tk_ul li.kjs .dw{color: #999999; position: absolute; top:24px;}/*2014-7-23 15:00 */
.tk_ul li .dw{left:146px;}/*2014-7-23 15:00 */
.tk_ul li.kjs .dw{left:101px;}/*2014-7-23 15:00 */
.tk_ul li select{float:left; height: 32px; padding:4px; line-height:32px; width:247px; border: 1px solid #E1E1E1;}
.dlb_log input{display: block; outline: none; border: 1px solid #bfbfbf;padding-left:40px !important ;}
.dlb_log .dlb_input_icon1{background: url(../images/dlb_icon_03.png) 15px center no-repeat;}
.dlb_log .dlb_input_icon2{background: url(../images/dlb_icon_06.png) 15px center no-repeat;}
.dlb_log .dlb_input_icon3{background: url(../images/dlb_icon_11.png) 15px center no-repeat;width: 200px;height: 36px;}
.dlb_log .dlb_input{width: 300px; height: 36px; margin-left: 28px;}



/*table和明细*/
*{ margin:0; padding:0;}
/* input{ border:none;outline:none; } */
.clearFix:after{ content:""; display:block; clear:both;}
.clearFix{ zoom:1;}
.btn_box{ text-align:right; padding:15px 0; min-width:910px; margin-right:15px;}
.btn_box input{ width:66px; height:26px; text-align:center; line-height:26px; background:#3e89ed; color:#fff; border:none;outline:none; border-radius:3px; font-size:14px; margin:0 5px; }
#tab{ border:1px solid #ccc; border-collapse:collapse; text-align:center;}
#tab th,#tab td{ border:1px solid #ccc;height:26px;}

#tab th{ color:#222; font-weight:normal;}
#tab input[type=text]{ outline:none; background:none; border:none; text-align:center; width:100%; height:100%; color:#777;}
.list{ margin:0 20px; min-width:870px;}
#tab{ width:100%;}
#tab .cx{ width:20px; padding:0 10px;}
#tab td,#tab th{ width:14.28%;}
#tab .detail td,#tab .detail th{ width:16.67%;}
#tab .detail .cx{ width:20px; padding:0 10px;}
#tab tr:hover{ background:#efefef !important;}
#tab .head{ background:#e6eded; height:32px;}
#tab .head:hover{ background:#e6eded !important;}
.prev_next span{ display:inline-block; border:1px solid #ccc; width:50px; height:26px; font-size:12px; color:#777; text-align:center; line-height:26px; margin-left:5px;}
.prev_next{ text-align:right; margin-right:20px; margin-top:20px;}


#tab1{ border:1px solid #ccc; border-collapse:collapse; text-align:center;}
#tab1 th,#tab1 td{ border:1px solid #ccc;height:26px;}

#tab1 th{ color:#222; font-weight:normal;}
#tab1 input[type=text]{ outline:none; background:none; border:none; text-align:center; width:100%; height:100%; color:#777;}
.list{ margin:0 20px; min-width:870px;}
#tab1 .cx{ width:20px; padding:0 10px;}
#tab1 .detail td,#tab1 .detail th{ width:16.67%;}
#tab1 .detail .cx{ width:20px; padding:0 10px;}
#tab1 tr:hover{ background:#efefef !important;}
#tab1 .head{ background:#e6eded; height:32px;}
#tab1 .head:hover{ background:#e6eded !important;}


/*首页index*/
.top{height: 25px;line-height: 25px;background: #d9e0e8;}
.top #hello{float: left;margin-left: 10px;}
.top #global,#apps{float: right;margin-right: 10px;}
.top #exit{float: right;margin-right: 10px;}
#global,#apps,#exit{text-decoration: underline;}
.in_head{width: 100%; height: 63px;background:url(../images/lbg.jpg) no-repeat;background-size: cover;}
.in_head img{float: left;}
.in_head ul{float: left;display:block;position: relative;bottom: -30px; color:#fff;}
.in_head ul li{ width:70px;padding:4px 8px;float: left;font-size: 14px;border: 1px solid #168ea2;border-radius: 5px;margin: 0 10px;display: inline;cursor: pointer;
    background-color: #168ea2;}
.content{ height:87%;}
.content .c_list{height:100%;}
.c_hide{display: none;}
.bg_green{color:#FBEA1C;}



/*配置中心*/
html,body{ height:100%;}
.cen_box{ height:100%;}
.sider_box{ width:100%; border-right:1px solid #efefef; height:100%;}
.search_box{ margin:10px; padding:0 10px;}
.search{ height:26px; width:70%; border:1px solid #4791ff; padding-left:10px;}
.sea_btn{ height:28px; background:#4791ff; width:20%; text-align:center; line-height:28px; color:#fff; font-size:13px;}
.drop_down_menu{ height:100%; overflow-y:scroll; overflow-x:hidden; padding:5px 20px; cursor:pointer;}
.drop_down_menu li{ width:100%; height:36px; border-bottom:1px dashed #efefef; line-height:36px; text-align:left; font-size:12px; padding-left:10px; }
.drop_down_menu .aa:hover{ background:#efefef !important;}
.drop_down_menu li input{ margin-right:10px;}
.cen_con{ width:79%; height:100%;}
.cen_con iframe{ width:100%; height:94%; border:none;}


/*弹层*/
.form1{
    height: 260px;
    width: 400px;
    border: 4px #ccc solid;
    background: #fff;
    position:relative;
    display:none;
    padding-top: 10px;
}
.form2{
    border: 4px #ccc solid;
    background: #fff;
    position:relative;
    display:none;
    padding-top: 10px;
}
.myform{
    width:352px;
    margin:0 auto;
}
.myform input{
    width: 200px;
    height: 28px;
    margin-left: 28px;
    padding-left:5px;
    border:1px solid #ccc;
    margin:10px 0 8px 10px;
}
.myform .save{
    width: 115px;
    height: 35px;
    margin-left: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border:none;
    background: #3e89ed;
    color: #fff !important;
    line-height: 32px;
}
a.close{position:absolute; top:4px; right:2px; cursor:pointer; width:16px; height:16px; background:url(../images/close.png) no-repeat; z-index:2;}
/*错误提示信息*/
.error{width: 400px;height: 300px;position: fixed;margin-top: -150px; margin-left: -200px; top:50%;
    left:50%;text-align: center; line-height: 28px;}
.error h2{font-size:22px;}
.error p{line-height:35px;color:#717678;}
.reindex{width:115px; height:35px; margin:0 auto;cursor: pointer;background-color:#3c95c8;text-align: center;border-radius: 3px; behavior:url(js/pie.htc);}

.reindex a{font-size:14px; font-weight:bold; color:#fff;display:block; line-height:35px; text-align:center;margin-top:20px;}








